main{
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 25px 0;
}
header.navbar-fixed-custom{
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 997;
}
.brand-logo-custom img{
  padding-top: 15px; 
  padding-left: 20px;
  height: 50px;
}
a{
  color: unset;
}
nav form {
  position: relative;
  height: 100%;
  background: inherit;
}
.nav-wrapper{
  background: inherit;
  
}
div.gap-10{
  width: 100%;
  height: 10px;
}
div.gap-20{
  width: 100%;
  height: 20px;
}

.search-close-icon{
  display: none!important;
  position: absolute;
  top: 0;
  left: 100%!important;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.54);
  transition: color .2s;
  cursor: pointer;
}
.text-green{
  color: #33691e;
}
.text-yellow{
  color: #fbc02d;
}

.my-grey{
  background: #ffffff;
}
#topbarsearch i{
  color: #ffffff;
}
input.search-field {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  height: 40px;
  padding: 8px 8px 8px 45px;
  width: 200px;
  background: #33691e;
  transition: background 0.2s, width .2s;
}
input.search-field:hover {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.6);
}
.searchbox {
  position: relative;
}
::placeholder {
  color: rgba(255, 255, 255, 0.74);
}
input.search-field:hover::placeholder, input.search-field:hover~label i.search-icon {
  color: rgba(0, 0, 0, 0.6) !important;
}

input.search-field:focus {
  outline: none;
  width: 350px;
  color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
}
input.search-field:focus~label i.search-icon {
  color: rgba(0, 0, 0, 0.54) !important;
}
.search-icon {
  position: absolute;
  top: 0;
  padding-left: 10px;
  color: #ffffff;
}
.search-content {
  color: #303c42;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 8px 10px;
}
.search-heading {
  color: #757575;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
input.search-field ~ .search-popup {
  overflow: hidden;
  left: 0px;
  min-height: 50px;
  max-height: 700px;
  width: 200px;
  top: -450px; 
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: width .2s, top .2s ease-in-out;
  border-radius: 2px;
  background-color: #fff;
}
input.search-field:focus ~ .search-popup {
  width: 500px;
  top: 50px;
}
nav ul.popup-list a:hover {
  background-color: initial;
}
nav ul.popup-list li {
  float: none;
}
nav ul.popup-list li a {
  line-height: 30px;
  padding: 0;
  font-size: 12px;
  color: #212121 !important;
}
nav ul.popup-list li a:hover {
  background-color: #f7f7f7;
}
.no-padding{
  padding: 0px !important;
}
.no-margin{
  margin: 0px !important;
}
.top-margin {
  margin-top: 8px;
}
.card.card-grid{
  margin: 7px !important;
}
.card .card-content, .card .card-action{
  padding: 15px;
}
.card-image img{
  position: relative;
}
.card.horizontal.custom .card-image img{
  height: 230px;
}
.card-content p{
  font-size: 14px;
  line-height: 17px;
  padding: 10px 0 0 0;
}
.card-content p.genre{
  font-size: 12px;
  line-height: 13px;
  font-style: italic;
}
.card-content .meta{
  padding-top: 10px;
}
.card-content .rating, .card-content .date{
  font-size:14px;
  line-height:18px;
}
.card-content .material-icons{
  display: inline-flex;
  vertical-align: top;
  font-size: 19px;
  line-height:18px;
}

nav .sidenav-trigger {
  margin: 0;
}
.sidenav li>a>i.material-icons{
  margin: 0 15px 0 0 !important;
}
.sidenav a.collapsible-header{
  padding: 0 32px;
}
div.user-view .background img{
  width: 100%;
}
.dropdown-content li{
  min-height: unset;
}
.dropdown-content li>a, .dropdown-content li>span{
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  padding: 14px 30px 14px 20px;
}
.dropdown-content li>a{
  display: block;
}
.dropdown-content li>a>i{
  margin: 0 10px 0 0;
  font-size: 20px;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #ffffff;
}
footer.page-footer{
  width: 100%;
  padding-top: 0;
  min-height: unset;
  padding: 10px 20px;
}
footer.page-footer .footer-copyright{
  min-height: unset;
  padding: 10px 20px;
}

.tag {
	display: inline-block;
  width: 110px;
	height: 30px;
	background-color: #fbc02d;
  position: absolute;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
  padding: 0 5px 0 13px;
  top: 10px;
  left: 0;
}
.tag:before {
	content: "";
	position: absolute;
	display: block;
	right: -15px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fbc02d;
}
.tag-medium {
	display: inline-block;
  width: 140px;
	height: 40px;
	background-color: #fbc02d;
  position: absolute;
	font-weight: 700;
	font-size: 18px;
	line-height: 40px;
  padding: 0 5px 0 13px;
  top: 15px;
  left: -10px;
}
.tag-medium:before {
	content: "";
	position: absolute;
	display: block;
	right: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #fbc02d;
}
.purchased{
  background-color: forestgreen;
  color: #fff;
}
.tag-medium.purchased:before{
	position: absolute;
	display: block;
	right: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid forestgreen;
}
.tag.purchased:before {
	content: "";
	position: absolute;
	display: block;
	right: -15px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid forestgreen;
}

.loading-container{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.hidden{
  display: none;
}

.pagination li.active{
  background-color: #33691e;
}

.movie-detail img.mov-poster{
  max-height: 330px;
}
.movie-detail .poster{
  position: relative;
}
.movie-detail .mov-title{
  font-size: 32px;
  font-weight: 700;
}
.movie-detail .mov-title .year{
  font-size: 20px;
  font-weight: 500;
}
.movie-detail .mov-crew{
  display: grid;
  grid-template-columns: 35% 35% 30%;
}
.movie-detail .meta{
  padding-top: 10px;
  height: 40px;
  display: grid;
  grid-template-columns: 100px 160px auto;
}
.movie-detail .meta .mov-rating, .movie-detail .meta .mov-duration, .movie-detail .meta .mov-vote{
  font-size:26px;
  line-height:38px;
}
.movie-detail .meta .material-icons{
  display: inline-flex;
  vertical-align: top;
  font-size: 34px;
  line-height:36px;
}

.item-horizontal .card-content{
  padding: 10px;
}
.item-horizontal .card-content p{
  padding-bottom: 5px;
}

.modal{
  width: 50%;
}
.collection{
  border: 0px;
}
.collection .collection-item{
  padding: 10px 0;
}
.collection .collection-item.avatar:not(.rectangle-clipper)>.rectangle, .collection .collection-item.avatar :not(.rectangle-clipper)>.rectangle {
  position: absolute;
  width: auto;
  height: 45px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle{
  left: 7px;
}
.balance{
  background-color: #fbc02d;
  width: 140px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 35px;
  right: 10px;
  font-size: 17px;
  border-radius: 3px;
}

@media only screen and (max-width : 992px) {
  header, footer {
    padding-left: 0;
  }
  .brand-logo-custom img{
    padding-left: 0;
  }
}
@media only screen and (max-width : 600px) {
  main{
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .brand-logo-custom img{
    padding-top: 13px; 
    height: 42px;
  }
  .footer-col{
    padding: 8px 20px 2px 20px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: transparent;
  }
  .modal {
    width: 90%;
  }
  input.search-field {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }
  input.search-field ~ .search-popup {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }

  .search-icon {
    top: 0;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 170px;
    padding: 8px 8px 8px 50px;
  }

  input.search-field:focus ~ .search-popup {
    width: 100vw;
  }

  .search-content {
    width: 100%;
    padding: 8px 8px;
  }

  nav .nav-wrapper {
    margin-right: 0px;
  }
  .movie-detail img.mov-poster{
    max-height: unset;
    width: 100%;
  }
}